

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'css/Register.css' %}" />
    <style>
        .image-container {
        display: flex;
        justify-content: space-between;
    }
    
    .image-container img {
        width: 100%;
        height: auto;   
        margin-bottom: 175px;
    }
    .input-field select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: none;
    border-radius: 55px;
    height: 55px;
    width: 100%;
    padding: 0 0.4rem;
    position: relative;
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
    opacity: 50%;
}

#checkbox-container {
      display: none;
    }




      /* Style for the square box */
/* Style for the square box */
  #checkbox-container {
    border: 1px #000;
    width: 200px; /* Width of the square box */
    height: 200px; /* Height of the square box */
    padding: 10px;
    overflow-y: auto; /* Add vertical scrollbar */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Style for individual checkboxes */
  .checkbox-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  .checkbox-label {
    margin-right: 10px;
  }
    </style>
</head>
<body>
    <br>
<div class="signin-signup">
    <form action="" method="post" class="sign-up-form">
        {% csrf_token %}
        <!-- {% csrf_token %}
        <h2 class="title">Sign up</h2>
        {% if success_message %}
        <p>{{success_message}}</p>
        {% endif %}
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %} -->
        <br>
        <h1>Register Now</h1>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="username" id="username" placeholder="Username" />
        </div>
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Email" />
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>


       <div class="input-field">
  <i class="fas fa-globe"></i>

    <select name="Role" id="Role" onchange="showCheckboxContainer()">
      <option value=""  selected>Role  </option>
      <option value="Customer" >Customer</option>
      <option value="Vendor">Vendor</option>
    </select>
    <span id="dropdownSymbol"></span>
  
</div>

<div id="checkbox-container" style="    width: 56%;
border-radius: 33px; background-color: #f0f0f0 ;">
  <input type="text" id="search-box" placeholder="Search..." oninput="filterCheckbox()" style="    margin-left: 48px; padding: 5px 5px;">
  <br>
  <div class="checkbox-item" data-label="Checkbox 1" style="    margin-left: 48px;">

    <input type="checkbox" id="checkbox1" name="checkbox1">&nbsp;
    <label for="checkbox1">Product 1</label>
  </div>
  <div class="checkbox-item" data-label="Checkbox 2" style="    margin-left: 48px;">
   
    <input type="checkbox" id="checkbox2" name="checkbox2">&nbsp;
    <label for="checkbox2">Product 2</label>
  </div>
  <!-- Add more checkboxes here -->
  <div class="checkbox-item" data-label="Checkbox 10" style="    margin-left: 48px;">
   
    <input type="checkbox" id="checkbox10" name="checkbox10">&nbsp;
    <label for="checkbox10">Product 3</label>
  </div>
</div>

       
      
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" />
        </div>
        <input type="submit" class="btn" value="Sign up" />
        <p>Already have an account? <a href="{% url 'Login' %}">Sign in</a></p>
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
            <a href="https://www.facebook.com/agristartups/" class="social-icon" style=" color: #ffd000;
            border-color: #fcd80b; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(58, 94, 17);transform: msFilter;"><path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"></path></svg>
            </a>
            <a href="https://twitter.com/agristartups" class="social-icon"  style=" color: #ffd000;
            border-color: #fcd80b; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(58, 94, 17);transform: msFilter;"><path d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"></path></svg>
            </a>
            <a href="https://www.instagram.com/agristartups/" class="social-icon"  style=" color: #ffd000;
            border-color: #fcd80b; ">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:  rgb(58, 94, 17);transform: msFilter;"><path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"></path><circle cx="11.994" cy="11.979" r="3.003"></circle></svg>
            </a>
            <a href="https://www.linkedin.com/company/agristartups/" class="social-icon"  style=" color: #ffd000;
            border-color: #fcd80b; ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:  rgb(58, 94, 17);transform: msFilter;"><path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z"></path></svg>
            </a>
        </div>
    </form>
  
</div>
<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>Our Partners</h3>
            <div class="image-container">
                <img src="{% static 'img/Logo1.jpg' %}" alt="TNAU">
            </div>
        </div>
    </div>
</div>
</div>



<script>
  window.onload = function() {
         var checkboxContainer = document.getElementById("checkbox-container");
         checkboxContainer.style.display = "none";
     };

     function showCheckboxContainer() {
         var roleSelect = document.getElementById("Role");
         var checkboxContainer = document.getElementById("checkbox-container");
         if (roleSelect.value === "Vendor") {
             checkboxContainer.style.display = "block"; 
             checkboxContainer.style.display = "none"; 
         }
     }
</script>
  <script>
    function filterCheckbox() {
      var input = document.getElementById("search-box").value.toLowerCase();
      var checkboxes = document.querySelectorAll(".checkbox-item");
  
      checkboxes.forEach(function(checkbox) {
        var label = checkbox.dataset.label.toLowerCase();
        if (label.includes(input)) {
          checkbox.style.display = "block"; // Show matching checkbox
        } else {
          checkbox.style.display = "none"; // Hide non-matching checkboxes
        }
      });
    }


    function showCheckboxContainer() {
      var roleSelect = document.getElementById("Role");
      var checkboxContainer = document.getElementById("checkbox-container");
      if (roleSelect.value === "Vendor") {
        checkboxContainer.style.display = "block";
      } else {
        checkboxContainer.style.display = "none";
      }
    }
  </script>
</body>
</html>


